@import 'tailwindcss';
@import 'tw-animate-css';
@import 'shadcn/tailwind.css';

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-track-piece {
  background: transparent;
}

*::-webkit-scrollbar-button {
  display: none;
  width: 0;
  height: 0;
  background: transparent;
}

*::-webkit-scrollbar-corner {
  background: transparent;
}
